%h1 theguardian.com Prime Ministerial Debate Feedback Machine

%form{:action => "/endpoint", :method => "post", :id => "debate"}
  .setup
    .form-el
      %label How do you plan to vote in the general election?
      %select{:name => "intent"}
        %option{} - 
        %option{:value => "labour"} Labour
        %option{:value => "conservative"} Conservative
        %option{:value => "libdem"} Liberal Democrats
        %option{:value => "green"} Green
        %option{:value => "ukip"} UKIP
        %option{:value => "other"} Other

    .form-el
      %label What is your postcode?
      %input{:name => "postcode"}

    %a.next-button{:href => "#"} GO!


  .feedback-buttons
    %h2 Tap their face when they say something you agree with.

    %input{:type => "hidden", :name => "feedback", :id => "feedback"}
    %a.feedback-button{:id => "con", :href => "#"} 
      %span Conservative
    %a.feedback-button{:id => "lab", :href => "#"} 
      %span Labour
    %a.feedback-button{:id => "ld", :href => "#"} 
      %span Libedral Democrat


.tick &#10003;

