- content_for :pagetitle do
  Log out ? : 

%h1 Log out of Swarmize?

%p
  = button_to "Log out", session_path, :method => :delete, :class => "btn btn-default"
  or
  = link_to "Back home", root_path
