- flash.each do |type, message|
  .alert.alert-dismissable.fade.in{:class => bootstrap_class_for(type)}
    %button{:type => 'button', :class => 'close', "data-dismiss" => "alert", "aria-hidden" => true} &times;
    = message

