/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require c3
 *= require rickshaw.min
 */

// fixing fonts
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), url(asset_path('glyphicons-halflings-regular.woff')) format('woff'), url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'), url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

.huge-number {
  font-weight: bold;
  font-size: 140%;
}

.navbar-inverse .navbar-brand {
  color: #ddd !important; // overriding bootstrap, hence the !important. sorry.
}

.navbar-inverse .navbar-nav>li>a {
  color: #ddd !important; // overriding bootstrap, hence the !important. sorry.
}

.navbar-inverse.is_admin {
  background: #008;
}

.placeholder {
  background: pink;
}

span.swarmlive {
  /*font-size: 14px;*/
  /*font-size: 50%;*/
  /*vertical-align: top;*/
  padding: 5px 15px;
}

.swarm-controls {
  margin: 20px 0 0;
  .actions-dropdown {
    float: right;
  }
}

.fields-palette {
  background: #ccc;
  border: 2px solid #888;
  padding: 5px;
  h3 {
    font-weight: bold;
    font-size: 120%;
    margin: 0 0 10px;
  }
  .field {
    background: #eee;
    padding: 5px;
    margin: 0 0 5px;
  }

  &.affix {
    width: 20%;
    top: 10px;
  }
}

#workspace {
  background: #f0f0f0;
  min-height: 400px;
  padding: 10px;

  &.hover {
    border: 2px dashed #888;
  }
}

form {
  .form-element {
    background: #fafafa;
    padding: 10px;
    margin: 0 0 20px;
    .header {
      margin: 0 0 10px;
      position: relative;
      .controls {
        position: absolute;
        top: 0;
        right: 0;
        span.move-this-element:hover {
          color: #428bca;
        }
        a.close-this-element:link, a.close-this-element:visited {
          color: #333;
        }
        a.close-this-element:hover, a.close-this-element:active {
          color: #428bca;
        }
      }

      h2 {
        line-height: 1;
        font-size: 100%;
        text-transform: uppercase;
        font-weight: bold;
        color: #888;
        margin: 0;
      }
    }
  }
}

.code-text-block {
  padding: 5px 0;
  span {
    font-family: monospace;
  }
}

.nav.swarmbuilder-nav {
  margin-bottom: 30px;
}

.nav .user-icon {
  img {
    float: right;
  }
  // nasty hack because I'm lazy at rewriting bootstrap
  /*margin: -15px 0;*/
}

.navbar-user {
  background-position: top right;
  background-repeat: no-repeat;
  padding-right: 60px;
}

.page-header.swarmize-header {
  margin: 0 0 20px;
}

.swarm-header {
  margin: 0 0px 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  h1 {
    margin: 0 0 10px;
  }
  .subheader {
    font-size: 120%;
  }
}

#graphs .graph-container {
  float: left;
  margin: 0 20px 20px 0;
  .g {
    width: 300px;
    height: 300px;
  }
}

table#permissions {
  /*tr:nth-of-type(1) td {*/
    /*border-top: none;*/
  /*}*/
  td.user {
    padding-top: 12px;
  }
  td.owner {
    font-weight: bold;
  }
  td.pic {
    width: 25px;
  }
}

.timeseries-container {
  position: relative;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;

  .timeseries {
    display: inline-block;
    margin-left: 40px;
  }
  .y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
  }
  .rickshaw_graph .detail .item { line-height: 1.4; padding: 0.5em 2em 0.5em 0.5em }
  .detail_swatch { float: left; display: inline-block; width: 10px; height: 10px; margin: 0 5px 0 0px }
}
.timeseries-legend {
  display: inline-block;
  vertical-align: top;
  margin:0 0 0 10px;
}

/* Parsley form validation */

.parsley-error, .parsley-error:focus {
  border-color: #a94442;
  background-color: #f2dede;
}

.parsley-errors-list {
  list-style-position: inside;
  color: #a94442;
  padding-left: 0;
  list-style-type: none;
  font-weight: bold;
}

.form_group.parsley-error {
  padding: 5px;
  margin-top: -5px;
  margin-left: -5px;
  margin-right: -5px;
}
