.embeddable-swarm
  - if @swarm.display_title
    %h2= @swarm.name
  - if @swarm.display_description
    .explanation= simple_format @swarm.description
  .closed
    This swarm is now closed, and is no longer accepting responses.

  .small
    Powered by
    %b Swarmize.

