:javascript
  $(document).ready(function() {
    // set up draggable for field palette
    $('.fields-palette .field').attr('draggable', 'true');
    $('.fields-palette .field').attr('ondragstart', 'PaletteField.onDragPaletteStart(event)');
    $('.fields-palette .field').attr('ondragend', 'PaletteField.onDragPaletteEnd(event)');

    // set up droppable for workspace

    $('#workspace').attr('ondragenter', 'FieldWorkspace.onDragEnterWorkspace(event)');
    $('#workspace').attr('ondragover', 'FieldWorkspace.onDragOverWorkspace(event)');
    $('#workspace').attr('ondragleave', 'FieldWorkspace.onDragLeaveWorkspace(event)');
    $('#workspace').attr('ondragend', 'FieldWorkspace.onDragEndWorkspace(event)');
    $('#workspace').attr('ondrop', 'FieldWorkspace.onDropWorkspace(event)');

    FieldWorkspace.bindLinks();
    FieldWorkspace.reindexFormElements();

    $('.fields-palette').affix({
      offset: {
        top: $("#workspace").offset().top
      }
    });
  });
