#permissions-alter.modal.fade{:tabindex => -1, :role => 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => 'modal'}
          %span{"aria-hidden" => true} &times;
          %span.sr-only Close
        %h4.modal-title Users with permission to alter this swarm
      .modal-body
        %table.table#permissions
          %tbody
            - @swarm.users.each do |user|
              %tr
                %td.pic= image_tag user.image_url, :height => 25
                %td
                  = link_to user.name, user
                  - if @swarm.owners.include?(user)
                    %b (owner)
            - if @swarm.unassigned_access_permissions.any?
              %tr
                %td
                %td ...and #{pluralize @swarm.unassigned_access_permissions.count, 'other user'}.

