.row.swarm-header
  .col-sm-9
    %h1
      = @swarm.name
      - if @swarm.live?
        %span.label.label-success.swarmlive Live!
    .subheader
      = @swarm.owners.map { |creator| link_to @swarm.creator.name, user_path(@swarm.creator) }.to_sentence
      - if @current_user
        |
        = link_to "View Form", embed_swarm_path(@swarm)
      - if @swarm.parent_swarm
        %small
          [Cloned from #{link_to @swarm.parent_swarm.name, swarm_path(@swarm.parent_swarm)}]

  .col-sm-3.swarm-controls
    .dropdown.actions-dropdown{:style => "float: right;"}
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"} 
        Actions
        %span.caret
      %ul.dropdown-menu.dropdown-menu-right
        %li
          %a{:href => clone_swarm_path(@swarm)}
            %span.glyphicon.glyphicon-retweet
            Clone
        %li.divider
        - if AccessPermission.can_alter?(@swarm, @current_user) && !@swarm.closed?
          %li
            %a{:href => edit_swarm_path(@swarm)}
              %span.glyphicon.glyphicon-pencil
              Edit 
          %li
            %a{:href => code_swarm_path(@swarm)}
              %span.glyphicon.glyphicon-th-list
              Get Code
        - if AccessPermission.can_destroy?(@swarm, @current_user)
          %li
            %a{:href => swarm_permissions_path(@swarm)}
              %span.glyphicon.glyphicon-user
              Manage Permissions
          %li.divider
          %li
            %a{:href => spike_swarm_path(@swarm)}
              %span.glyphicon.glyphicon-remove
              Spike


