.row
  .col-sm-8
    .desc= simple_format @swarm.description
  .col-sm-4
    .row
      .col-sm-6
        - if @swarm.has_opened?
          %h3 Opened at 
          %h4= @swarm.opens_at
      .col-sm-6
        - if @swarm.closed?
          %h3 Closed at 
          %h4= @swarm.closes_at
