.dropdown.actions-dropdown{:style => "float: right;"}
  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"} 
    Actions
    %span.caret
  %ul.dropdown-menu.dropdown-menu-right
    %li
      = link_to "<span class='glyphicon glyphicon-retweet'></span> Clone".html_safe, clone_swarm_path(@swarm), :method => :post
      %li.divider
    - if AccessPermission.can_alter?(@swarm, @current_user) && !@swarm.closed?
      %li
        %a{:href => edit_swarm_path(@swarm)}
          %span.glyphicon.glyphicon-pencil
          Edit 
      %li
        %a{:href => code_swarm_path(@swarm)}
          %span.glyphicon.glyphicon-th-list
          Get Code
    %li
      %a{:href => swarm_permissions_path(@swarm)}
        %span.glyphicon.glyphicon-user
        Permissions
    - if AccessPermission.can_destroy?(@swarm, @current_user)
      %li.divider
      %li
        %a{:href => spike_swarm_path(@swarm)}
          %span.glyphicon.glyphicon-remove
          Spike

