%h1 All Swarms

%p This page lists all swarms

%table.table
  %thead
    %tr
      %th Name
      %th Description
  %tbody
    - for swarm in @swarms
      %tr
        %td= link_to swarm.name, swarm
        %td= swarm.description

%p= link_to "New swarm", new_swarm_path
