%h1 
  Swarms created by #{@user.name}
  - if @user == @current_user
    %span.label.label-success.swarmlive You!

= render :partial => "swarms/swarm_table", :locals => {:swarms => @swarms}

= will_paginate @swarms, :renderer => BootstrapPagination::Rails

