.form-group
  %label= field.field_name
  = text_area_tag "#{field.field_code}", nil, {:class => 'form-control', :placeholder => field.sample_value, :rows => 8}.merge(parsley_validations_for_field(field))
  - if field.hint
    %span.help-block= field.hint



