.row
  .col-sm-6
    %p Swarmize is a data journalism platform.  It helps editors collect, analyze and output information.  
    
    %p News teams can create simple surveys in minutes or build engaging interactives and custom data collectors with front-end developers using the Swarmize toolchain.  The platform includes a survey wizard, embeddable web forms, dashboards and charts, CSV outputs and developer-friendly APIs optimized for high volume, fast-paced news organizations such as theguardian.com. 
    
    %p Swarmize does the heavy lifting behind the scenes and makes it easy to deploy and manage data journalism projects quickly and cheaply. 
    %br

    = render :partial => 'home/project_status'

  .col-sm-6
    %h2{style: 'margin-top: 0;'} A bit about you
    <script type='text/javascript' src='//cdn.swarmize.com/js/swarmize-embed.js'></script><div id='swarmize-embedded-form' data-swarmize-token='fcisdufw'><a href='http://alpha.swarmize.com/swarms/fcisdufw/embed'>Fill out your answers on swarmize.com</a></div>

%hr

%h2 Case studies

= render :partial => "case_studies/list"

